@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Test 3 change in Github, pushed to Azure Container register and then out to Azure Container instance.</p>
    <p>
        Examples:
        <ul>
            <li><a href="http://examplewebapp.centralus.azurecontainer.io">Azure Container Instances</a></li>
            <li><a href="https://containersexamplewebapp.azurewebsites.net">Azure Web App for Containers</a></li>
        </ul>
    </p>
</div>
